<head>
  <title>Question and Answer</title>
</head>

<body>
</body>

<template name="notFound">
  <h1>Not Found</h1>
</template>

<template name="loading">
  <h1>Loading...</h1>
</template>

<template name="layout">
  <div class="top-page container">
    {{yield}}
  </div>
</template>

<template name="summary">
    <div class="container full-height">
    {{#each speakers}}
      {{> speakerQuestions}}
    {{/each}}
    </div>
</template>

<template name="speakerQuestions">
  <div class="speaker">
    Speaker Name: {{name}}
    <ul class="speaker-question">
      {{#each questions}}
        {{> speakerQuestion}}
      {{/each}}
    </ul>    
  </div>
</template>

<template name="speakerQuestion">
    <li class="question">
      {{asker}} : {{question}} <a href="#" class="delete" id="{{_id}}">&times;</a> 
    </li>  
</template>


<template name="question">
    <div class="container full-height">
        <div class="row upper">
            <div class="span3 full-height">
                {{> docList}}
            </div>
            <div class="span9 editor-container full-height">
                {{> editor}}
            </div>
        </div>
    </div>
</template>

<template name="docList">
    <h3>Pick a question form...</h3>
    <ul class="nav nav-pills nav-stacked" id="list">
    {{#each documents}}
      {{> docItem}}
    {{/each}}
    </ul>
    <h3>...or start a new one:</h3>
    <button class="btn btn-warning">New Question</button>
</template>

<template name="docItem">
    <li class="{{#if current}}active{{/if}}">
         <a href="#">{{title}}</a>
    </li>
</template>

<template name="editor">
  {{#withif docid}}
    {{> docTitle}}
    {{> entry}}
  {{/withif}}
</template>

<template name="docTitle">
    <div class="navbar">
        <div class="navbar-inner">
            <form class="navbar-form pull-left">
                <input class="name input-xlarge" type="text" value="{{title}}">
                <button class="delete btn btn-danger btn-small">Delete this document</button>
            </form>
        </div>
    </div>
</template>

<template name="entry">
  <div class="entry row">
    <div class="sidebar span9">
      {{#with currentDoc}}
        <dl class="dl-horizontal">
          <dt>Speaker:</dt>
          <dd>
            <a href="#" class="speaker" data-type="text" data-title="Enter Speaker Name">
              {{speaker}}
            </a>
          </dd>
          
          <dt>Asker:</dt>
          <dd>
            <a href="#" class="asker" data-type="text" data-title="Enter Asker Name">
              {{asker}}
            </a>
          </dd>
          
          <dt>Question:</dt>
          <dd>
            <a href="#" class="question" data-type="textarea"
               data-title="Enter Asker Question">{{question}}</a>
          </dd>
        </dl>
      {{/with}}
    </div>
  </div>
</template>

<template name="addQuestion">
  <div id="addNodeDialog" style="display:none;" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="addQuestionDialogLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close cancel" data-dismiss="modal"
        aria-hidden="true">&times;</button>
      <h3>Add Question</h3>
    </div>

    <div class="modal-body">
      <label>Speaker Name:</label>
      <input type="text" class="speaker span5">

      <label>Asker Name:</label>
      <input type="text" class="asker span5">

      <label>Question</label>
      <input type="text" class="question span5">
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</a>
      <a href="#" class="btn btn-primary save">Add Question</a>
    </div>
  </div>
</template>
